@import '../sass/_custom_colors.scss';

*{
    color:$font-color !important;
    font-family: 'Mulish', sans-serif;
    
}

header{
    background-color: $primary-color !important;
}
body{
    background-color: $background-theme !important;
}
main{
    max-width: 1000px;
    margin: auto;
}