@import '../sass/_custom_colors.scss';

*{
    color:$font-color !important;
    font-family: 'Mulish', sans-serif;
    
}

header{
    background-color: $primary-color !important;
    
}
body{
    background-color: $background-theme !important;
}

main{
    max-width: 1300px;
    margin: auto;
    
}
.imagem-carrossel{
    margin-top: 50px;
    object-position: 0 5%;
    object-fit: cover;
    height: 500px;
}
.imagem-card-grid{
    object-fit: cover;
    object-position: 40% 50%;
    height: 300px;
}
footer{
    background-color: $primary-color !important;
}
.paragrafo-copy{
    border-top:1px solid gray;
}

