<footer class="py-4">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lorem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lorem, ipsum.</a>
      </li>
    </ul>
    <p class="text-center paragrafo-copy py-4 my-4">© 2022 Animepedia Inc</p>
  </footer>