@import "../sass/_custom_colors.scss";


.login-container{
  max-width: 600px;
  height: 590px;
}

.botao-form{
  width: 200px;
}
.footer-forms{
  width: 100%;
  position: fixed;
  margin-top: 55px;
}
