<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animepedia | Categorias</title>
  <link href="../styles/glider.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ac13aaf08f.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link href="../styles/categoriaStyle.css" rel="stylesheet" />
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md">
      <div class="container-md">
        <a class="navbar-brand img-nav" href="./index.html">
          <img class="img-nav" src="../src/img/img-nav.png" alt="" width="100" height="100">
          Animepedia
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Anime
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="#">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manga
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="#">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Comunidade</a>
            </li>
          </ul>

          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Ex: Shingeki no kyojin" aria-label="Search" />
            <button class="btn " type="submit">
              Procurar
            </button>
          </form>
          <div class="btn-group">
            <button type="button" class="btn"><a href="./login.html">Entrar</a></button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                  </ul>
            </div>
          </div>
        </div>
    </nav>
  </header>
  <main>
    <section>
      <h2 class="text-center  mt-5 fw-bold">Ação</h2>
    </section>
    <section>
      <h2 class="text-start fs-4 mt-5">Populares</h2>
      <div id="glider-1" class="glider-contain ">
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Anime exemplo</h5>
              <small class=" text-center">Série	
                &#9670; Legendado</i></small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>

      <div id="glider-2" class="glider-contain">
        <h2 class="text-start fs-4 mt-5">Lançamentos</h2>
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>

      <div id="glider-3" class="glider-contain">
        <h2 class="text-start fs-4 mt-5">Já que voce viu...</h2>
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>
    </div>
    </section>

  </main>
  <footer class="py-4">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lorem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lorem, ipsum.</a>
      </li>
    </ul>
    <p class="text-center paragrafo-copy py-4 my-4">© 2022 Animepedia Inc</p>
  </footer>

  <script type="text/javascript" src="../js/glider.min.js"></script>
  <script type="text/javascript" src="../js/carrossel-categoria.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
</body>

</html>