<%- include('partials/head') %>
<%- include('partials/head') %> <%- include('partials/headerAdmin') %>

<main>
  <section>
    <h2 class="text-start mt-5 fw-bold">Bem vindo, usurário</h2>
    <p class="text-start mt-3 fs-4">O que deseja fazer hoje?</p>
  </section>

  <section>
    <div class="card">
        <div class="card-body">
            Criar um Post
            <a class="btn btn-outline-secondary " href="#" role="button">Link</a>
        </div>
      </div>
  </section>
  <section>
    <div class="card">
        <div class="card-body">
            Criar um Post
            <a class="btn btn-outline-secondary " href="#" role="button">Link</a>
        </div>
      </div>
  </section>
  <section>
    <div class="card">
        <div class="card-body">
            Criar um Post
            <a class="btn btn-outline-secondary " href="#" role="button">Link</a>
        </div>
      </div>
  </section>
  <section>
    <div class="card .bg-transparent">
        <div class="card-body .bg-transparent">
            Criar um Post
            <a class="btn btn-outline-secondary " href="#" role="button">Link</a>
        </div>
      </div>
  </section>
 
</main>

<%- include('partials/footer') %>
