<%- include('partials/head') %>
<%- include('partials/head') %> <%- include('partials/headerAdmin') %>


<main>
    <section>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5 mb-5">
            <div class="col">
              <div class="card">
                <img src="/images/erased.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success" type="button">Aprovar</button>
                    <button class="btn btn-danger" type="button">Negar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/images/death-parade.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success" type="button">Aprovar</button>
                    <button class="btn btn-danger" type="button">Negar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/images/shinobu.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success" type="button">Aprovar</button>
                    <button class="btn btn-danger" type="button">Negar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/images/spyfamilia.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success" type="button">Aprovar</button>
                    <button class="btn btn-danger" type="button">Negar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</main>

<%- include('partials/footer') %>