<%- include('partials/head') %>

<%- include('partials/header') %>

<main>
    <section>
      <h2 class="text-center  mt-5 fw-bold">Ação</h2>
    </section>
    <section>
      <h2 class="text-start fs-4 mt-5">Populares</h2>
      <div id="glider-1" class="glider-contain ">
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="/images/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Anime exemplo</h5>
              <small class=" text-center">Série	
                &#9670; Legendado</i></small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="/images/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="/images/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>

      <div id="glider-2" class="glider-contain">
        <h2 class="text-start fs-4 mt-5">Lançamentos</h2>
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>

      <div id="glider-3" class="glider-contain">
        <h2 class="text-start fs-4 mt-5">Já que voce viu...</h2>
        <div class="glider">
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card card-grid-categorias mx-2">
            <img src="../src/img/death-parade.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/albedo overlord.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kaguyasamatemp3.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/kitagawamarin.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/chainsawman.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/erased.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/officialtrailer.jpg" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
          <div class="card mx-2">
            <img src="../src/img/spyfamilia.png" class="card-img-top imagem-card-slide" alt="imagem-card">
            <h5 class="card-title text-center">Card title</h5>
              <small class="text-muted text-center">Last updated 3 mins ago</small>
          </div>
        </div>

        <button aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
        <div role="tablist" class="dots"></div>
      </div>
    </div>
    </section>

  </main>

<%- include('partials/footer') %>
