<%- include('partials/head') %>

<%- include('partials/header') %>



<main>
    <section>
      <form class="row g-3 my-5">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Usuário</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Ex: bananinhaTitanica" />
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Email</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="exemplo@exemplo.com" />
        </div>
        <div class="col-12">
          <label for="inputPassword4" class="form-label">Senha</label>
          <input type="password" class="form-control" id="inputPassword4" />
          <div id="passwordHelpBlock" class="form-text">
            Sua senha deve ter de 8 a 20 caracteres, conter letras e números e
            não deve conter espaços, caracteres especiais ou emoji.
          </div>
        </div>
        <div class="col-12">
          <label for="inputPassword5" class="form-label">Confirme sua senha</label>
          <input type="password" class="form-control" id="inputPassword5" />
        </div>
        <div class="col-md-6">
          <label for="inputDate" class="form-label">Data de nascimento</label>
          <input type="date" class="form-control" id="inputDate" />
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Gênero</label>
          <select id="inputState" class="form-select">
            <option selected disabled></option>
            <option>Feminino</option>
            <option>Masculino</option>
            <option>Não-binário</option>
            <option>Outro</option>
            <option>Prefiro não dizer</option>
          </select>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              Aceito os termos e condições
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn d-grid gap-2 col-6 mx-auto">Registrar-se</button>
        </div>
      </form>
    </section>
</main>

  <%- include('partials/footer') %>