<%- include('partials/head') %>
<%- include('partials/head') %> <%- include('partials/headerAdmin') %>

<main>
  <section>
    <h2 class="text-start mt-5 fw-bold">Lista de vips</h2>
</section>
    <section>
        <table class="table mt-5 border border-white mb-5" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">User</th>
                <th scope="col">Vip</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Daniel Froes</td>
                <td>danielfroes@gmail.com</td>
                <td>danielzikah</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Isabella Ferreira</td>
                <td>isabellaferreira@gmail.com</td>
                <td>isokinhahh</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Marcelo Diament</td>
                <td>marcelodiament@gmail.com</td>
                <td>diamante</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Thiago Neri</td>
                <td>thiagoneri@gmail.com</td>
                <td>thiaguinho</td>
                <td>não</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Eren Yeager</td>
                <td>erenyeager@gmail.com</td>
                <td>damikasa</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Mikasa Ackerman</td>
                <td>mikasaackerman@gmail.com</td>
                <td>doeren</td>
                <td>não</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Hinata Shoyo</td>
                <td>hinatashoyo@gmail.com</td>
                <td>hinata-ace</td>
                <td>não</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Kageyama Tobio</td>
                <td>tobiokageyama@gmail.com</td>
                <td>odeio-o-hinata</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Naruto Uzumaki</td>
                <td>uzumakinaruto@gmail.com</td>
                <td>dosasuke</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Sasuke Uchiha</td>
                <td>uchihasasuke@gmail.com</td>
                <td>danaruto</td>
                <td>não</td>
              </tr>
              <tr>
                <th scope="row"a>11</th>
                <td>Loid Forger</td>
                <td>mestredosdisface@gmail.com</td>
                <td>twilight</td>
                <td>sim</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Yor Forger</td>
                <td>yorforgerbriar@gmail.com</td>
                <td>thorn-princess</td>
                <td>não</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>Anya Forger</td>
                <td>anyaforger@gmail.com</td>
                <td>anyaLindah</td>
                <td>não</td>
              </tr>
            </tbody>
          </table>
    </section>
</main>

<%- include('partials/footer') %>