<%- include('partials/head') %>
<%- include('partials/head') %> <%- include('partials/headerAdmin') %>

<main>
    <section>
        <h2 class="text-start mt-5 fw-bold">Lista de usuários</h2>
    </section>
    <section>
        <table class="table mt-5 border border-white" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Nome</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">User</th>
                <th scope="col" class="text-center">Assinatura</th>
                <th scope="col" class="text-center">Pagamento</th>
                <th scope="col" class="text-center">Data de Pagamento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="text-center">Daniel Froes</td>
                <td class="text-center">danielfroes@gmail.com</td>
                <td class="text-center">danielzikah</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td class="text-center">Isabella Ferreira</td>
                <td class="text-center">isabellaferreira@gmail.com</td>
                <td class="text-center">isokinhahh</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td class="text-center">Marcelo Diament</td>
                <td class="text-center">marcelodiament@gmail.com</td>
                <td class="text-center">diamante</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td class="text-center">Eren Yeager</td>
                <td class="text-center">erenyeager@gmail.com</td>
                <td class="text-center">damikasa</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td class="text-center">Kageyama Tobio</td>
                <td class="text-center">tobiokageyama@gmail.com</td>
                <td class="text-center">odeio-o-hinata</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td class="text-center">Naruto Uzumaki</td>
                <td class="text-center">uzumakinaruto@gmail.com</td>
                <td class="text-center">dosasuke</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
              <tr>
                <th scope="row"a>7</th>
                <td class="text-center">Loid Forger</td>
                <td class="text-center">mestredosdisface@gmail.com</td>
                <td class="text-center">twilight</td>
                <td class="text-center">R$20</td>
                <td class="text-center">Cartão de Crédito</td>
                <td class="text-center">10/06</td>
              </tr>
            </tbody>
          </table>
    </section>
</main>

<%- include('partials/footer') %>