<%- include('partials/head') %>
<%- include('partials/head') %> <%- include('partials/headerAdmin') %>

<main>
    <section>
        <h2 class="text-start mt-5 fw-bold">Lista de usuários</h2>
    </section>
    <section>
        <table class="table mt-5 border border-white" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">User</th>
                <th scope="col">Assinatura</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Data de Pagamento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Daniel Froes</td>
                <td>danielfroes@gmail.com</td>
                <td>danielzikah</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Isabella Ferreira</td>
                <td>isabellaferreira@gmail.com</td>
                <td>isokinhahh</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Marcelo Diament</td>
                <td>marcelodiament@gmail.com</td>
                <td>diamante</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Eren Yeager</td>
                <td>erenyeager@gmail.com</td>
                <td>damikasa</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Kageyama Tobio</td>
                <td>tobiokageyama@gmail.com</td>
                <td>odeio-o-hinata</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Naruto Uzumaki</td>
                <td>uzumakinaruto@gmail.com</td>
                <td>dosasuke</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
              <tr>
                <th scope="row"a>7</th>
                <td>Loid Forger</td>
                <td>mestredosdisface@gmail.com</td>
                <td>twilight</td>
                <td>R$20</td>
                <td>Cartão de Crédito</td>
                <td>10/06</td>
              </tr>
            </tbody>
          </table>
    </section>
</main>

<%- include('partials/footer') %>