@import "../sass/_custom_colors.scss";
@font-face {
  font-family: Itacha;
  src: url("../fonts/Itacha.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0bd681 !important;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none !important;
}

body {
  background-color: #1d1839 !important;
  
}

header {
  background-color: #59159e !important;
}

.imagem-login {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.img-nav{
  font-size: 50px;
  font-family: Itacha;
  object-fit: cover;
}

main {
  margin: auto;

}


footer {
  background-color: #59159e !important;

}

.paragrafo-copy {
  border-top: 1px solid gray;
}
