@import "../sass/_custom_colors.scss";
@font-face {
  font-family: Itacha;
  src: url("../fonts/Itacha.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color !important;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none !important;
}
body {
  background-color: $background-theme !important;
}
header {
  font-size: 18px;
  background-color: $primary-color !important;
}

.imagem-login {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.img-nav {
  font-size: 50px;
  font-family: Itacha;
  object-fit: cover;
}

main {
  max-width: 1300px;
  margin: auto;
}
.card-reacoes button {
  padding: 0;
  border: none;
  background: none;
  padding-left: 15px;
  margin: 10px 0;
}
.imagem-carrossel {
  margin-top: 50px;
  object-position: 0 5%;
  object-fit: cover;
  height: 500px;
}

.imagem-card-grid {
  object-fit: cover;
  object-position: 40% 50%;
  height: 300px;
}
.imagem-card-slide {
  object-fit: cover;
  height: 300px;
}

footer {
  background-color: $primary-color !important;
}
.paragrafo-copy {
  border-top: 1px solid gray;
}
