@import '../sass/_custom_colors.scss';


.imagem-login {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.img-nav{
    font-size: 50px;
    font-family: Itacha;
    object-fit: cover;
}

main{
    max-width: 1500px;
    margin: auto;
    
}

.card-anime {
    margin-top: 50px;
    background-color: $background-theme!important;
    border:none;
   
}

.card-fundo{

    background-color: $background-theme!important;
}
.tamanho-texto{
    width: 80%;
}
.review-color{
    background-color: $form-color !important;
}
.imagem-card-slide {
    object-fit: cover;
    height: 200px;
  }

.paragrafo-copy{
    border-top:1px solid gray;
}

.img-anime{
    object-fit:fill;
    width: 75%;
    border-radius: 10px;
}

.textarea{
    height: 250px;
    background-color: $background-theme!important;
    color: $font-color-second !important
}

.form-anime{
    background-color: $background-theme!important;
    color: $font-color-second !important
}

.text-anime{
    color: $font-color-second !important
}

::placeholder{
    color: $font-color !important;
}
