@import '../sass/_custom_colors.scss';



.imagem-login {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.img-nav{
    font-size: 50px;
    font-family: Itacha;
    object-fit: cover;
}

main{
    max-width: 1500px;
    margin: auto;
    
}
.imagem-card-slide {
    object-fit: cover;
    height: 250px;
}
.card-grid-categorias{
    background-color: $background-theme;
}

.paragrafo-copy{
    border-top:1px solid gray;
}

