@import "../sass/_custom_colors.scss";
@font-face {
  font-family: 'Zenzai Itacha Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Zenzai Itacha Regular'), url('/fonts/Zenzai Itacha.woff') format('woff');
  }
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color !important;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none !important;
  
}
body {
  background-color: $background-theme !important;
  
}
header {
  font-size: 18px;
  background-color: $primary-color !important;
  display:flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 1300px;
  margin: auto;
}

.imagem-login {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.img-nav {
  font-size: 50px;
  font-family: Zenzai Itacha Regular !important;
  object-fit: cover;
  
}

.imagem-carrossel {
  margin-top: 50px;
  object-position: 0 5%;
  object-fit: cover;
  height: 500px;
}

.imagem-card-grid {
  object-fit: cover;
  height: 300px;
}
.imagem-card-slide {
  object-fit: cover;
  height: 300px;
  border-radius: 50px;
}


footer {
  background-color: $primary-color !important;
}
.paragrafo-copy {
  border-top: 1px solid gray;
}

