@import "../sass/_custom_colors.scss";
@font-face {
  font-family: 'Zenzai Itacha Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Zenzai Itacha Regular'), url('/fonts/Zenzai Itacha.woff') format('woff');
  };
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu-Bold'), url('/fonts/Ubuntu-Bold') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color !important;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none !important;
  
}
body {
  background-color: $background-theme !important;
  
}
header {
  font-size: 18px;
  background-color: $primary-color !important;
  display:flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 1300px;
  margin: auto;
}

.imagem-login {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}
.img-nav {
  font-size: 50px;
  font-family: Zenzai Itacha Regular !important;
  object-fit: cover;
  
}

.imagem-carrossel {
  margin-top: 50px;
  object-position: 0 5%;
  object-fit: cover;
  height: 500px;
}

.imagem-card-grid {
  object-fit:cover;
  height: 350px;
  border-radius: 10px;
}
.imagem-card-slide {
  object-fit: cover;
  height: 300px;
  border-radius: 50px;
}

.body-card{
  background-color: $background-theme !important;
  
}

.card-group{
  border-radius: 10px;
}

.titulo-card{
  font-size: 40px;
  font-family: 'Ubuntu' !important;
  font-weight: bold;
}

footer {
  background-color: $primary-color !important;
}
.paragrafo-copy {
  border-top: 1px solid gray;
}

.img-about{
  border-radius: 150px;
  object-fit: cover;
}

.resume-text{
  font-size: 20px;
}

.text-termos{
  font-size: 20px;
}

.paragrafo-termos{
  font-size: 18px;
  margin-left: 3%;
}

.text-privacidade{
  font-size: 20px;
  margin-left: 3%;
}

.container-login{
  width: 100%;
  padding: 20px 30px 20px 30px;
  
}

.container-login:hover{
  background-color: $form-color-second;
  cursor: pointer;
  
}

.p-login{
  font-size: 20px;
  color: $font-color-second !important;
}

.perfil-editar{
  display: flex;
  gap: 3em;
  justify-content: center;
}

.user-perfil{
  font-size: 2em;
  align-self: center;
}

.card-index{
  transition: transform .2s;
}

.card-index:hover{
  transform: scale(0.9);
  cursor: pointer;
}