@import "../sass/_custom_colors.scss";


.imagem-login {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.img-nav{
  font-size: 50px;
  font-family: Itacha;
  object-fit: cover;
}

main {
  margin: auto;
}
.login-form {
  justify-content: center;
}

footer {
  background-color: #59159e !important;
}

.paragrafo-copy {
  border-top: 1px solid gray;
}
