

  <header>
    <nav class="navbar navbar-expand-md">
      <div class="container-md">
        <a class="navbar-brand img-nav" href="/home">
          <img class="img-nav" src="/images/img-nav.png" alt="" width="100" height="100">
          Animepedia 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Anime
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="/categorias">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manga
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="#">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Comunidade</a>
            </li>
          </ul>

          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Ex: Shingeki no kyojin" aria-label="Search" />
            <button class="btn " type="submit">
              Procurar
            </button>
          </form>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Entrar
            </button>
            <form class="dropdown-menu p-4">
              <div class="mb-3">
                <label for="exampleDropdownFormEmail2" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword2" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="senha">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                  <label class="form-check-label" for="dropdownCheck2">
                    Lembrar
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-success">Entrar</button>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/cadastro">Novo aqui? Cadastre-se</a>
              <a class="dropdown-item" href="#">Esqueci minha senha</a>
            </div>
            </form>
          </div>
        </div>
    </nav>
  </header>