

  <header>
    <nav class="navbar navbar-expand-md">
      <div class="container-md">
        <a class="navbar-brand img-nav" href="./index.html">
          <img class="img-nav" src="../../public/images/img-nav.png" alt="" width="100" height="100">
          Animepedia 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Anime
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="#">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manga
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Populares</a></li>
                <li><a class="dropdown-item" href="#">Lançamentos</a></li>
                <li><a class="dropdown-item" href="#">Gêneros</a></li>
                <li><a class="dropdown-item" href="#">Ver Tudo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Comunidade</a>
            </li>
          </ul>

          <form class="d-flex me-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Ex: Shingeki no kyojin" aria-label="Search" />
            <button class="btn " type="submit">
              Procurar
            </button>
          </form>
          <div class="btn-group">
            <button type="button" class="btn"><a href="./login.html">Entrar</a></button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                    <li><a class="dropdown-item" href="#">Teste</a></li>
                  </ul>
            </div>
          </div>
        </div>
    </nav>
  </header>